In [32]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [33]:
outside = ['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index1= pd.MultiIndex.from_tuples(hier_index)    #didnt understand this command, because it isnt giving the output as expected

In [34]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [35]:
hier_index1

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [41]:
df=pd.DataFrame(randn(6,2),hier_index1,['A','B'])

In [64]:
df

                    A         B
Groups Nums
G1     1    -0.134841  0.390528
       2     0.166905  0.184502
       3     0.807706  0.072960
G2     1     0.638787  0.329646
       2    -0.497104 -0.754070
       3    -0.943406  0.484752

## Retrieve values from DataFrame

In [44]:
df.loc['G1']

          A         B
1 -0.134841  0.390528
2  0.166905  0.184502
3  0.807706  0.072960

In [45]:
df.loc['G1'].loc[1]

A   -0.134841
B    0.390528
Name: 1, dtype: float64

In [49]:
df.index.names

FrozenList([None, None])

In [50]:
df.index.names = ['Groups','Nums']

In [51]:
df

                    A         B
Groups Nums
G1     1    -0.134841  0.390528
       2     0.166905  0.184502
       3     0.807706  0.072960
G2     1     0.638787  0.329646
       2    -0.497104 -0.754070
       3    -0.943406  0.484752

In [63]:
df.loc['G2'].loc[2]['B']

-0.7540697010400628

## CrossSection  ( .xs() )

In [62]:
df.xs(1,level='Nums')

               A         B
Groups
G1     -0.134841  0.390528
G2      0.638787  0.329646